.home-container {
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
max-width: 600px;
margin: 0 auto;
font-family: 'Pretendard', sans-serif;
padding-bottom: 120px;
}

.search-wrapper {
position: relative;
}

.search-results {
list-style: none;
padding: 0;
margin: 10px 0 0 0;
border-top: 1px solid #eee;
background-color: #fff;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}


.result-item {
display: grid;
grid-template-columns: 130px 1fr;
gap: 10px;
align-items: center;
border-bottom: 1px solid #eee;
padding: 12px 16px;
cursor: pointer;
transition: background-color 0.2s;
}

.result-item:last-child {
border-bottom: none;
}

.result-item:hover {
background-color: #f9f9f9;
}

.result-name {
font-size: 16px;
font-weight: 400;
color: #595757;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.result-details {
display: flex;
flex-direction: column;
white-space: nowrap;
flex-shrink: 0;
}

.result-info {
font-size: 13px;
color: #595757;
}

.result-star-icons {
font-size: 14px;
margin-top: 2px;
}

.gender-male {
color: #0D6EFD;
font-weight: 500;
}
.gender-female {
color: #E13A6E;
font-weight: 500;
}

.result-item-info {
padding: 12px 16px;
color: #888;
}

.result-star-icons {
font-size: 15px;
letter-spacing: 1px;
}

.search-section {
display: flex;
align-items: center;
position: relative;
margin-top: -20px;
}

.search-input {
flex-grow: 1;
height: 58px;
padding: 15px 25px;
padding-right: 60px;
font-size: 18px;
font-weight: 400;
color: #595757;
border: 1px solid #627EF1;
border-radius: 50px;
box-sizing: border-box;
}

.search-button {
background: none;
border: none;
cursor: pointer;
padding: 0;
width: 48px;
height: 48px;
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
}

.search-button img {
width: 100%;
height: 100%;
}


.map-link-section {
text-align: center;
padding: 20px;
border-radius: 12px;
display: flex;
flex-direction: column;
align-items: center;
gap: 15px;
margin-top: -10px;
}

.map-link-section h3 {
margin: 0;
font-size: 14px;
color: #000;
font-weight: 400;
}

.map-link-button {
padding: 12px 25px;
font-size: 15px;
color: #4860BE;
background-color: white;
border: 1px solid #ddd;
border-radius: 30px;
cursor: pointer;
font-weight: 600;
}


.nearby-stations-list {
list-style: none;
padding: 0;
margin: 0;
display: grid;
align-items: center;
grid-template-columns: repeat(3, 1fr);
gap: 15px;
}

.station-item {
border: 1px solid #BFC8EF;
padding: 15px 10px;
border-radius: 50px;
text-align: center;
background-color: #fff;
cursor: pointer;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
transition: background-color 0.2s;
}

.station-item:hover {
background-color: #f5f7ff;
}


.station-item-name {
font-weight: 500;
font-size: 15px;
color: #000;
text-align: center;
}



.ad-banner {
    position: fixed;
    width: 100%; 
    max-width: 500px; 
    left: 50%;
    transform: translateX(-50%); 
    bottom: 90px;
    height: 85px;
    z-index: 1000;
    background-color: #f0f0f0; 
}

.ad-banner .prdp-ad-image {
    width: 100%; 
    height: 100%; 
    display: block;
    object-fit: cover; 
}

.home-container {
    padding-bottom: 145px !important; 
}