.return-to-search-container {
  display: flex;
  justify-content: flex-end; 
  padding: 10px 20px; 
  background-color: #fff;
}

.return-to-search-btn {
  width: 105px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 0.5px solid #4860BE;
  background-color: #fff; 
  color: #4860BE; 
  font-size: 11px; 
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer; 
}

.return-to-search-btn:hover {
  background-color: #f0f2ff;
}