.photo-reviews-container {
  padding: 16px;
}

.photo-reviews-header {
  padding: 12px;
  background-color: none;
  border-radius: 8px;
  margin-bottom: 0px; 
  text-align :left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.photo-reviews-header-info {
  display: flex;
  align-items: center; 
  gap: 20px; 
}

.photo-reviews-header h3 {
  margin: 0; 
  font-size: 24px;
  font-weight: 400;
  font-family: Pretendard;
}

.photo-reviews-header p {
  margin: 0; 
  font-size: 16px;
  color: #595757; 
  display: flex;
  align-items: center;
}

.photo-review-count {
  font-size: 20px;
  color: #333;
  font-weight: 500;
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 8px;
}

.review-filters {
  display: flex;
  justify-content: flex-end; 
  gap: 8px;
  margin-bottom: 16px; 
  margin-top: 10px;
}

.review-filters select {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  color: #000;
}

.photo-grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 4px;
  padding: 10px 0;
}

.photo-grid-item {
  border: none;
  padding: 0;
  background: #eee;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 1 / 1; 
  transition: transform 0.2s ease;
}

.photo-grid-item:hover {
  transform: scale(1.03);
}

.photo-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  margin-top: 32px;
  padding-bottom: 32px;
  
}

.pagination button {
  border: 1px solid #ddd;
  font-size: 10px;
  background-color: #fff;
  padding: 8px 12px;
  min-width: 40px; 
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.2s;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination button.active {
  background-color: #fff; 
  color: white;
  border-color: #fff;
}

.pagination button:not(.active):not(:disabled):hover {
  background-color: #f4f4f4;
}


.prdp-ad-container {
  display: flex;
  align-items: center;
  width: 500px;
}
.prdp-ad-container .prdp-ad-banner {
  width: 100%;
}